body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #e0e0e0, #ffffff);
    color: #333333;
    padding: 20px;
    margin: 40px auto;
    max-width: 1200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header h1 {
    font-size: 42px;
    color: #1a237e;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

header p {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
    color: #555555;
}

article h2 {
    font-size: 30px;
    color: #1a237e;
    margin-top: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

article p, article li {
    font-size: 18px;
    line-height: 1.8;
    color: #333333;
    text-align: justify;
    margin-bottom: 20px;
}

ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #555555;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#lastModified {
    font-weight: bold;
}

article {
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}
